body {
  font-family: "Poppins", sans-serif;
  /* font-family: "Roboto", sans-serif; */
  font-size: 100%;
}

img {
  width: 24vw;
  /* display: block; */
}

h1 {
  font-weight: 400;
}

p {
  font-size: 0.9rem;
}
